# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
/\.venv/
/screenshots/
/venv/
/__pycache__/
*/__pycache__/*
.pytest_cache/
.coverage
.env
.DS_Store
*.egg-info/
**/*.egg-info/


.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md

# Build artifacts
/build/
/dist/
packaging/AppIcon.icns
